.jms-loading {
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    span, label {
        margin: 8px;
        white-space: nowrap;
    }
}