.mat-toolbar-multiple-rows, .mat-toolbar-row {
    height: 36px;
    min-height: 36px;
    background: #ebebeb;
    font-size: 14px;
}
.small {
    height: 150px;
}
.medium {
    height: 300px;
}
.large {
    height: 600px;
}