@media screen and (max-width: 992px) {
    .main-container {
        left: 0px;
    }
}

@media screen and (max-width: 992px) {
    .push-right {
        #sidebar {
            left: 0 !important;
        }
    }
}

/*
 * Custom simple grid
 */
.jms-ui-row {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    flex-flow: row wrap;
    margin-left: -0.625em;
    margin-right: -0.625em;
    justify-content: center;
    align-items: center;
}
.jms-ui-row-raw {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    flex-flow: row wrap;
    margin-left: -0.625em;
    margin-right: -0.625em;
    justify-content: center;
    align-items: center;
}

.jms-ui-row > * {
    flex: 12;
    padding-left: 0.625em;
    padding-right: 0.625em;
}

.jms-ui-actions {
    margin-left: -8px;
    margin-right: -8px;
}
.jms-ui-actions > * {
    margin-left: 8px;
    margin-right: 8px;
}
.jms-ui-actions .mat-raised-button {
    margin-left: 8px;
    margin-right: 8px;
}

.jms-us-space {
    height: 8px;
}

.jms-ui-spacer {
    flex: 1 1 auto;
}

.jms-ui-table-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    button {
        margin-left: 8px;    
    }
}

/* POSITIONING */
.left {
  text-align: left;
}
  
.right {
  text-align: right;
}
  
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
  
.justify {
  text-align: justify;
}