<div id="sidebar">
  <mat-nav-list>
      <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/home']">
          <mat-icon class="sidenav-icon">dashboard</mat-icon> Dashboard
      </a>
      <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/connectors']">
        <mat-icon class="sidenav-icon">insert_drive_file</mat-icon> Connectors
      </a>
      <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/users']">
          <mat-icon class="sidenav-icon">insert_drive_file</mat-icon> Users
      </a>
  </mat-nav-list>
</div>
