<h1 mat-dialog-title>{{data.operation}}</h1>
<div mat-dialog-content>

    <div class="alert alert-danger" role="alert" *ngIf="!getErrorDetails() && getErrorMessage()">
        <strong>{{ error.status }} {{error.statusText}}:</strong> {{ getErrorMessage() }}
    </div>

    <mat-expansion-panel *ngIf="getErrorDetails()" class="mb-2">
        <mat-expansion-panel-header color>
            <mat-panel-title>
                {{ getErrorMessage() ? getErrorMessage() : 'Error details' }}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <!-- render body lazy -->
        <ng-template matExpansionPanelContent>
            <pre style="overflow-x: auto">{{ getErrorDetails() }}</pre>
        </ng-template>
    </mat-expansion-panel>
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="data" color="primary" cdkFocusInitial>Ok</button>
</div>
