<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"><a [routerLink]="BACK_URL">Connectors</a></li>
        <li class="breadcrumb-item active" aria-current="page">
            {{ connectorData ? connectorData.name : 'Loading ...' }}
        </li>
        
        <!-- Breadcrumb Menu-->
        <li class="breadcrumb-menu">
            <div class="btn-group" role="group">
                <button class="btn" (click)="doSave()"><i class="fa fa-floppy-o"></i> Save</button>
                <button class="btn" *ngIf="connectorData.id" (click)="doCopy()"><i class="fa fa-clone"></i> Copy</button>
                <button class="btn" [routerLink]="BACK_URL"><i class="cui-action-undo"></i> Close</button>
            </div>
        </li>
    </ol>
</nav>

<div class="container-fluid">
    
    <mat-card class="mb-3" *ngIf="connectorData">
        <app-connector-view [connectorData] = "connectorData" ></app-connector-view> 

        <mat-card-actions>
            <button mat-button (click)="doSave(true)" color="primary"><mat-icon>save</mat-icon> Save & Close</button>
            <button *ngIf="connectorData.id" mat-button (click)="doDelete()" color="warn"><mat-icon>delete</mat-icon> Delete</button>
        </mat-card-actions>

    </mat-card>
</div>