.jms-loading {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    span {
        padding-left: 8px;
        white-space: nowrap;
    }
    background: white;
}
