<!--
https://coreui.io/docs/components/sidebar/
-->
<ul class="c-sidebar-nav">
    <li class="c-sidebar-nav-title">JMS-UI</li>
    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" routerLink="jms-connectors" routerLinkActive="c-active">
            <i class="c-sidebar-nav-icon cil-sitemap"></i> JMS-Connectors
        </a>
    </li>

    <li class="c-sidebar-nav-dropdown c-show" *ngIf="sessions.length > 0" >
        <a class="c-sidebar-nav-dropdown-toggle" appToggle>
            <i class="c-sidebar-nav-icon cil-input-hdmi"></i> Open Sessions
        </a>
        <ul class="c-sidebar-nav-dropdown-items">
            <li class="c-sidebar-nav-item" *ngFor="let s of sessions">
                <a class="c-sidebar-nav-link" routerLinkActive="c-active" [routerLink]="['/sessions', s.id]">
                    <i class="c-sidebar-nav-icon cil-input-power"></i> {{ s.name }}
                </a>
            </li>
        </ul>
    </li>
    <!-- allow hosted content -->
    <ng-content></ng-content>
</ul>
