<div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="nav-title">Nav Title</li>
        <li class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="active">
            <!-- core ui icon -->
            <i class="nav-icon cui-home"></i> Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="jms-connectors" routerLinkActive="active">
            <!-- fontawesome icon -->
            <i class="nav-icon fa fa-table"></i> JMS-Connectors
          </a>
        </li>

        <app-open-sessions></app-open-sessions>
        
      </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button" (click)="doMinimize()"></button>
  </div>