table {
    width: 100%;
}
.mat-toolbar {
    background: #fff
}

.jms-loading {
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    background: white;
    span, label {
        margin: 8px;
        white-space: nowrap;
    }
}